server:
  port: 7000

spring:
  application:
    name: gulimall-coupon

  datasource:
    username: tifa
    password: rootPassword
    url: jdbc:mysql://10.200.200.1:3306/gulimall_sms
    driver-class-name: com.mysql.cj.jdbc.Driver

  cloud:
    nacos:
      server-addr: 10.200.200.1:8848
      # 以下配置项必须填写
      username: 'nacos'
      password: 'nacos'
      config:
        namespace: public
  config:
    import:
      - nacos:gulimall-coupon.properties?refreshEnabled=true&group=DEFAULT_GROUP
seata:
  enabled: true
  tx-service-group: default_tx_group
  registry:
    type: nacos
    nacos:
      server-addr: 10.200.200.1:8848
      namespace:
  service:
    vgroup-mapping:
      default_tx_group: default
