<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gulimall.product.mapper.AttrMapper">

  <resultMap id="BaseResultMap" type="com.atguigu.gulimall.product.entity.AttrEntity">
    <id column="attr_id" property="attrId"/>
    <result column="attr_name" property="attrName"/>
    <result column="search_type" property="searchType"/>
    <result column="value_type" property="valueType"/>
    <result column="icon" property="icon"/>
    <result column="value_select" property="valueSelect"/>
    <result column="attr_type" property="attrType"/>
    <result column="enable" property="enable"/>
    <result column="catalog_id" property="catalogId"/>
    <result column="show_desc" property="showDesc"/>
  </resultMap>

  <sql id="Base_Column_List">
    attr_id
    ,attr_name,search_type,value_type,icon,value_select,
        attr_type,enable,catelog_id,show_desc
  </sql>
</mapper>
