<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gulimall.coupon.mapper.CouponSpuCategoryRelationMapper">

  <resultMap id="BaseResultMap"
    type="com.atguigu.gulimall.coupon.entity.CouponSpuCategoryRelationEntity">
    <id column="id" property="id"/>
    <result column="coupon_id" property="couponId"/>
    <result column="category_id" property="categoryId"/>
    <result column="category_name" property="categoryName"/>
  </resultMap>

  <sql id="Base_Column_List">
    id
    ,coupon_id,category_id,category_name
  </sql>
</mapper>
