<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gulimall.ware.mapper.PurchaseDetailMapper">

  <resultMap id="BaseResultMap" type="com.atguigu.gulimall.ware.entity.PurchaseDetailEntity">
    <id column="id" property="id"/>
    <result column="purchase_id" property="purchaseId"/>
    <result column="sku_id" property="skuId"/>
    <result column="sku_num" property="skuNum"/>
    <result column="sku_price" property="skuPrice"/>
    <result column="ware_id" property="wareId"/>
    <result column="status" property="status"/>
  </resultMap>

  <sql id="Base_Column_List">
    id
    ,purchase_id,sku_id,sku_num,sku_price,ware_id,
        status
  </sql>
</mapper>
