<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.gulimall.ware.mapper.WareOrderTaskMapper">

  <resultMap id="BaseResultMap" type="com.atguigu.gulimall.ware.entity.WareOrderTaskEntity">
    <id column="id" property="id"/>
    <result column="order_id" property="orderId"/>
    <result column="order_sn" property="orderSn"/>
    <result column="consignee" property="consignee"/>
    <result column="consignee_tel" property="consigneeTel"/>
    <result column="delivery_address" property="deliveryAddress"/>
    <result column="order_comment" property="orderComment"/>
    <result column="payment_way" property="paymentWay"/>
    <result column="task_status" property="taskStatus"/>
    <result column="order_body" property="orderBody"/>
    <result column="tracking_no" property="trackingNo"/>
    <result column="create_time" property="createTime"/>
    <result column="ware_id" property="wareId"/>
    <result column="task_comment" property="taskComment"/>
  </resultMap>

  <sql id="Base_Column_List">
    id
    ,order_id,order_sn,consignee,consignee_tel,delivery_address,
        order_comment,payment_way,task_status,order_body,tracking_no,
        create_time,ware_id,task_comment
  </sql>
</mapper>
