spring:
  application:
    name: gulimall-third-party
  cloud:
    nacos:
      server-addr: 10.200.200.1:8848
      config:
        import-check:
          enabled: false

server:
  port: 30009

seata:
  enabled: true
  tx-service-group: default_tx_group
  registry:
    type: nacos
    nacos:
      server-addr: 10.200.200.1:8848
      namespace:
  service:
    vgroup-mapping:
      default_tx_group: default
