server:
  port: 9874

spring:
  application:
    name: gulimall-cart
  cloud:
    nacos:
      server-addr: 10.200.200.1:8848
      config:
        import-check:
          enabled: false

  data:
    redis:
      host: 10.200.200.1
      port: 6379
seata:
  enabled: true
  tx-service-group: default_tx_group
  registry:
    type: nacos
    nacos:
      server-addr: 10.200.200.1:8848
      namespace:
  service:
    vgroup-mapping:
      default_tx_group: default
